#Definir nombre representativo para el workflow

name: Hola Mundo #Nombre del workFlow 

on: #[push, pull_request] #Evento --> cuando haga push al repo
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
#Nos van a permitir ejecutar, todo lo que queremos dentro de un servidor
jobs:
  hola: #Nombre del job
    runs-on: ubuntu-latest #SO de la VM


    steps: #unidad m치s peque침a que nos van a permitir desarrollar diferentes acciones 
    - name: Hola mundo #Nombre representativo del Step
      run: echo "Hola mundo" #Correr un comando

    - name: touch file 
      run:  touch hola.txt

    - name: set text
      run:  echo "Hola Mundo" >> hola.txt #O no

    - name:  Read file
      run:  cat hola.txt 

  other:
      runs-on: ubuntu-latest
      needs: hola
      steps: #unidad m치s peque침a que nos van a permitir desarrollar diferentes acciones 
        - name: Checkout
          uses: actions/checkout@v4.2.0           
        - name: ls #Nombre representativo del Step
          run: ls -al #Correr un comando

#para generar dependencias entre los Jobs, se tiliza la directiva needs: la cual se le puede pasar el nombre del job 
        - name: Setup Node.js environment
          uses: actions/setup-node@v4.0.4

        - name: node version
          run: node --version 